*{
    margin:0;
    padding:0;
}
.container{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(4, 1fr);
}

.general--info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.stock--pic{
    width:20rem;
}

.general--info--inputs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;
}

.general--info--inputs > label{
    text-decoration: underline;
}