*{
    margin:0;
    padding:0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.root{
    display: flex;
    /* justify-content: center; */
}

.header{
    width: 100%;
    background-color: #AB6F84;
    padding: 30px;
}

.general--container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert--box{
    display: none;
    flex-direction: column;
    gap: 3rem;
    background-color: rgba(171, 61, 112, 0.9);
    box-shadow: 0px 2px 38px rgba(0, 0, 0, 0.5);
    position: fixed;
    top:50%;
    left:50%;
    padding: 90px;
    max-width: 15rem;
    transform: translate(-50%, -50%);
}

.alert--box.active{
    display: flex;
}

.alert--box--text{
    font-size: larger;
    font-weight: 600;
    letter-spacing: -.1rem;
}

.alert--box--buttons{
    display: flex;
    justify-content: space-evenly;
}

.alert--box--buttons > button{
    padding: .3rem .5rem;
}

.alert--highlight{
    font-weight: 800;
    font-size: 1.2rem;
}

.cv--container{
    box-shadow: 0px 2px 38px rgba(0, 0, 0, 0.2);
    display: grid;
    align-items: center;
    grid-template-rows: repeat(minmax(min-content, max-content) + 50);
    grid-auto-rows: minmax(min-content, max-content) + 50;
    margin: 3rem;
    padding: 3rem;
    max-width: 50rem;
    gap: 4rem;
}
.cv--container.preview{
    box-shadow: 0px 2px 38px rgba(0, 0, 0, 0.2);
    font-size: smaller;
    display: grid;
    align-items: center;
    grid-template-rows: repeat(minmax(min-content, max-content) + 50);
    grid-auto-rows: minmax(min-content, max-content) + 50;
    margin: 3rem;
    padding: 3rem;
    max-width: 50rem;
    gap: 1rem;
}

.general--info,
.general--info--view,
.bottom--row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.general--info--view{
    margin-right: 7rem;
}

.profile--photo,
.general--info--inputs{
    padding-left: 2rem;
    padding-right: 2rem;
}

.general--info--element{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.general--info--view{
    margin-bottom: 2rem;
    font-size: 2rem;
}

.profile--photo{
    width:20rem;
    border-radius: 15px; 
}

.profile--photo--preview{
    margin: 0 2rem;
   width: 10rem;
   border-radius: 50%; 
}

.edit--button{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 41rem;
    background-color: #c4c3c3;
    padding: .3rem 1rem;
    border-radius: 15px;
    border: none;
}

.education--element.preview:hover .edit--button,
.work--element.preview:hover .edit--button{
    display: flex;
}

.preview--field--title{
    color: rgb(93, 92, 92);
    color:#AB6F84 ;
    margin: -1rem 2rem;
    text-decoration: underline;
    font-style: italic;
    letter-spacing: .5rem;
    font-weight: 400;
}

.name--view{
    font-variant: small-caps;
    font-size: 2rem;
}

.email--view,
.phone--view{
    font-size: smaller;
}

input,
textarea{
    padding: .8rem;
}

button{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button:hover{
    cursor: pointer;
    background-color:#af98a1 ;
}

.general--info--inputs{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    gap: .5rem;
}

.general--info--inputs > label{
    text-decoration: underline;
}

.container--input{
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: flex-start;
    gap: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.container--input > section > input,
.container--input > section > textarea{
    width: 24rem;
    max-width: 24.2rem;
    min-height: 1rem;
}

.observations--input--work{
    width: 24.3rem;
    max-width: 24.3rem;
    margin-left: 2.9rem;
}

.container--input > section > textarea

.title--input{
    margin-left: 2.5rem;
}
.university--input{
    margin-left: 4.2rem;
}

.observations--input{
    margin-left: 3rem;
}

.title--input{
    margin-left: 2.5rem;
}
.university--input{
    margin-left: 4.2rem;
}

.observations--input{
    margin-left: 3rem;
}

.observations--container{
    display: flex;
    align-items: center;
}

button.education,
button.work
{
    padding: 1rem;
    align-self: center;
}

.place--input{
    margin-left: 4.9rem;
}

.company--input{
    margin-left: 4.2rem;
}

.bottom--row{
    display: flex;
    justify-content: space-between;
}

.languages--inputs{
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    gap: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.language--input{
    margin-left: 4rem;
}

.languages--bottom{
    display: flex;
    gap: 2rem;
}

button.languages{
    margin-left: 2rem;
    padding-left: 2.7rem;
    padding-right: 2.7rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.create--button{
    padding: 1rem;
    width: 10rem;
}

.invalid--input{
    background-color: pink;
    border: 1px solid red;
}

.education--view,
.work--view,
.languages--view{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 1.7rem;
}

.languages--view{
    display: flex;
    flex-direction: row;
}

.title--view,
.place--view,
.language--view{
    font-variant: small-caps;
    font-style:italic ;
    text-decoration: underline;
}

.language--view{
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
}

.observations--view{
    margin-top: 1rem;
    letter-spacing: -.4px;
    line-height: 1.2rem;
}

.education--element,
.work--element,
.languages--element{
    position: relative;
    padding:1.2rem 2rem;
    border-radius: 15px;
}

.education--element:hover,
.work--element:hover,
.languages--element:hover{
    background-color: rgb(235, 235, 235);

}